<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.revivo">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/revive_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/revive_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Revivo"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.profile.detail.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.detail.MyTargetsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.detail.EditProfileActivity"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- Authentication Activities -->
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonalInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityLevelActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- Exercise Detail Activities -->
        <activity
            android:name=".ui.exercise.detail.ExerciseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.exercise.detail.TimeActivity"
            android:exported="false" />
    </application>

</manifest>